/* Colors */
	.yellow {
		color: #ffff4d;
	}

	.darkyellow {
		color: #ffcc00;
	}

	.lightyellow {
		color: lightyellow;
	}

	.red {
		color: #f10d0d;
	}

	.darkred {
		color: darkred;
	}

	.lightred
	{
		color: lightcoral;
	}

	.greenyellow{
		color: greenyellow;
	}

	.green {
		color: #48e618;
	}

	.lightgreen{
		color: #caf7ad;
	}

	.blue {
		color: #47a6ff;
	}

	.lightblue {
		color: lightskyblue;
	}

	.orange {
		color: #da9d2d;
	}

	.lightorange {
		color: #fdcd4a
	}

	.gray {
		color: gray;
	}

	.darkpink {
		color: #ff6f8c;
	}

	.pink {
		color: #ffc0cb;
	}

	.graypink {
		color: #ac9ea1;
	}


	.purple {
		color: #ca3eca;
	}

	.gold {
		color:#ffd700;
	}

/* Not colors */
	.charc {
		border: 2px solid gray;
		border-radius: 5px;
		padding-left: 15px;
		text-align: left;
		box-sizing: content-box;
	}


	.centered {
		margin-left: 45%;
		font-size: larger;
	}

	legend {
		font-weight: bold;
	}

	#menu-item-restart, #ui-bar-history {
		display: none;
	}

	.macro-button, #menu ul {
		width: 100%;
		font-size: 110%;
		max-width: 240px;
		background-color: #222;
		border: 1px solid #444;
		border-radius: 5px;

	}

	#menu li a {
		border-radius: 5px;
	}

	#menu li a:after {
		content:"/Load Game";
	}
	.macro-button:hover, #wardrobeLink:hover {
		background-color: #444;
		border-color: #eee;
	}

	.popUp {
		display: none;
		position: fixed;
		float: right;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		height: auto;
		width: auto;
		border: lightslategray solid 3px;
		border-radius: 10px;
		background-color: #222;
		overflow-y: scroll;
		max-width: 750px;
		max-height: 635px;
	}

	.open {
		display: block !important; 
	}

	@media only screen and (min-width: 768px) {
		.popUp {
			left: 282px;
		}
	}

	.divisor {
		max-width: 100%;
		border-radius: 3px;
		border: 2px solid slategray;
	}

	.macro-button:focus {
		background-color: #444;
		color: greenyellow;
	}

	.selected {
		color: greenyellow;
		background-color: #444 !important;
	}

	#Link {
		width: max-content;
		padding: 10px;
		max-width: 120px;
		background-color: #222;
		border: 1px solid #3b3b3b;
		border-radius: 5px;
		display: inline-block;
		font-weight: bold;
		margin: 5px;
		
	}

	#wardrobeLinks{
		display: inline-block;
	}

	.hide {
		display: none;
	}

	.info {
		border: 2px solid lightslategray;
		border-radius: 5px;
		background-color: #7c7c7c2c;
		padding-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#fieldinline {
		display: inline-block;
		border: 2px solid lightslategray;
		border-radius: 5px;
	}

	h3 {
		margin: 0px;
	}

