/* Colors */
	.yellow {
		color: #fbf665;
	}

	.darkyellow {
		color: #d0902f;
	}

	.lightyellow {
		color: #ffffae;
	}

	.midnightblue {
		color: #191970;
	}

	.eveningblue {
		color: #323285;
	}

	.lateveningblue {
		color: #2b2b70;
	}
	
	.red {
		color: #A10500;
	}

	.darkred {
		color: darkred;
	}

	.lightred
	{
		color: #ff577d;
	}

	.greenyellow{
		color: #defe47;
	}

	.green {
		color: #20D065;
	}

	.lightgreen{
		color: #a0ffe3;
	}

	.blue {
		color: #0a9cf5;
	}

	.lightblue {
		color: #89e3f6;
	}

	.orange {
		color: #ff6e27;
	}

	.lightorange {
		color: #fdcd4a
	}

	.gray {
		color: #b7c1de;
	}

	.darkpink {
		color: #ff2a6d;
	}

	.pink {
		color: #ffccdc;
	}

	.graypink {
		color: #ac9ea1;
	}

	.purple {
		color: #ca3eca;
	}

	.gold {
		color:#ffd700;
	}

	.brown {
		color: #9f6934;
	}

	.lightbrown {
		color: #8f704b;
	}

	.blonde {
		color: #ffe69d;
	}

	.ginger {
		color: #b06500;
	}

	.black {
		color: black;
	}

	.light {
		color: #FEE6B8
	}

	.fair {
		color: #DEBC97
	}

	.olive {
		color: #B58557
	}

	span #skinTone.black{
		color: #502E22
	}

/* Not colors */
	.charc {
		border: 1px solid #383e65;
		border-radius: 5px;
		padding-left: 15px;
		text-align: left;
		box-sizing: content-box;
		background-color: #1b1b1b;
	}

	body{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.centered {
		margin-left: 40%;
		font-size: larger;
	}

	legend {
		font-weight: bold;
	}

	#menu-item-restart {
		display: none;
	}

	#stats {
		margin-top: 5px;
	}

	.macro-button, #menu ul, .delete, .load, .save, #saves-export, #saves-import, #saves-clear {
		width: 100%;
		font-size: 120%;
		max-width: 280px;
		border: 2px solid #575267;
		background-color: #222035;
		border-radius: 5px;
		margin-top: 5px;
		margin-bottom: 5px;

	}

	button:disabled, a:disabled{
		background-color: #191827;
		border: 2px solid #454152;
	}

	select, input {
		border: 1px solid #454152;
	}

	span.wardrobeBttns button {
		max-width: 4.7em !important; 
		max-height: 4em !important;
		font-size: 100% !important;
	}

	.med-button, .med-button button {
		max-width: 7em !important; 
		max-height: 4em !important;
	}

	.med-texbox input[type="text"] {
		min-width: 7em !important; 
	}

	.smollbutt, .smollbutt button {
		max-width: 4.9em !important; 
		max-height: 4em !important;
		font-size: small;
	}

	#menu li a {
		border-radius: 5px;
	}

	#menu li a:after {
		content:"/Load Game";
	}

	.macro-button:hover, .delete:hover, .load:hover, .save:hover, #saves-export:hover, #saves-import:hover, #saves-clear:hover, a:hover{
		background-color: #191827;
		border-color: #eee;
	}

	.popUp {
		display: none;
		position: fixed;
		float: right;
		top: 20px;
		left: 20px;
		right: 20px;
		height: max-content;
		width: auto;
		border: lightslategray solid 2px;
		border-radius: 10px;
		background-color: #222;
		overflow-y: scroll;
		max-width: 750px;
		max-height: 635px;
	}

	.open {
		display: block !important; 
	}

	@media only screen and (min-width: 768px) {
		.popUp {
			left: 282px;
			width: max-content;
		}
	}

	@media only screen and (max-width: 767px) {
		.popUp {
			bottom:20px
		}
	}

	.divisor {
		border-radius: 3px;
		border: 2px solid #6287f8;
	}

	.macro-button:focus, a:focus{
		background-color: #191827;
		color: #65dc98;
	}

	.selected{
		color: #65dc98;
		border-radius: 5px;
	}
	
	#wardrobeLinks{
		display: inline-block;
	}

	.hide {
		display: none !important;
	}

	.info {
		border: 1px solid #383e65;
		border-radius: 5px;
		background-color: #1b1b1b;
		padding-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#fieldinline {
		display: inline-block;
		border: 1px solid #383e65;
		background-color: #1b1b1b;
		border-radius: 5px;
	}

	h3 {
		margin: 0px;
	}

	#progressbar {
		background-color: #444;
		width: 75%;
		margin-left: 13%;
		border-radius: 20px;
		border: 1px solid #01012b;
	  }
	  
	#bar {
		background-color: #1afe49;
		height: 20px;
		border-radius: 20px;
	  }

	.list {
		display: inline-block;
		border: 1px solid #383e65;
		border-radius: 5px;
		background-color: #1b1b1b;
		max-width: 17em;
		margin-bottom: 5px;
	}

	.listCodex {
		display: inline-block;
		max-width: 17em;
		margin-bottom: 5px;
	}

	.listSkills{
		display: inline-block;
		border: 1px solid #383e65;
		border-radius: 5px;
		margin-bottom: 5px;
	}

	#insidelist {
		margin-left: 7px;
		margin-right: 7px;
		font-size: medium;
	}

	.smollfont, .pButton button {
		font-size: small;
	}

	.thindiv {
		border-radius: 3px;
		border: 1px solid #73fffe;
		margin-bottom: 4px;
	}

	.sbIcons {
		height: 40px;
		vertical-align: middle;
		margin-bottom: 5px;
	}

	rect.map:hover {
		stroke: #00ff37;
	}

	rect {
		fill-opacity: 0;
	}

	.textshining {
			position: relative;
			overflow: hidden;
			background: linear-gradient(90deg, #ff2a6d, #fff, #ff2a6d);
			background-repeat: no-repeat;
			background-size: 80%;
			animation: tsAnimate 7s linear infinite;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: #ff6f8c59;
		  }
		  
	@keyframes tsAnimate {
		0% {
			background-position: -500%;
		}
		100% {
			background-position: 500%;
		}
	}

	#logo {
		max-width: 500px;
		max-height: 250px;
		width: 100%;
		height: 100%;
	}

	*{
		box-sizing: border-box;
	}

	#popUpContent {
		margin: 3px;
	}