/* Colors */
	.yellow {
		color: #ffff4d;
	}

	.darkyellow {
		color: #ffcc00;
	}

	.lightyellow {
		color: lightyellow;
	}

	.red {
		color: #f10d0d;
	}

	.darkred {
		color: darkred;
	}

	.lightred
	{
		color: lightcoral;
	}

	.greenyellow{
		color: greenyellow;
	}

	.green {
		color: #48e618;
	}

	.lightgreen{
		color: #caf7ad;
	}

	.blue {
		color: #47a6ff;
	}

	.lightblue {
		color: lightskyblue;
	}

	.orange {
		color: #da9d2d;
	}

	.lightorange {
		color: #fdcd4a
	}

	.gray {
		color: gray;
	}

	.darkpink {
		color: #ff6f8c;
	}

	.pink {
		color: #ffc0cb;
	}

	.graypink {
		color: #ac9ea1;
	}


	.purple {
		color: #ca3eca;
	}

	.gold {
		color:#ffd700;
	}

	.lightbrown {
		color: #9f6934;
	}

/* Not colors */
	.charc {
		border: 1px solid gray;
		border-radius: 5px;
		padding-left: 15px;
		text-align: left;
		box-sizing: content-box;
		background-color: #1b1b1b;
	}


	.centered {
		margin-left: 40%;
		font-size: larger;
	}

	legend {
		font-weight: bold;
	}

	#menu-item-restart {
		display: none;
	}

	.macro-button, #menu ul {
		width: 100%;
		font-size: 120%;
		max-width: 280px;
		border: 1px solid #444;
		background-color: #3b3b3b;
		border-radius: 5px;
		margin-top: 5px;
		margin-bottom: 5px;

	}

	.smollbutt {
		max-width: 4em !important; 
		max-height: 4em !important;
	}

	#menu li a {
		border-radius: 5px;
	}

	#menu li a:after {
		content:"/Load Game";
	}
	.macro-button:hover, #wardrobeLink:hover{
		background-color: #444;
		border-color: #eee;
	}

	.popUp {
		display: none;
		position: fixed;
		float: right;
		top: 20px;
		left: 20px;
		right: 20px;
		height: max-content;
		width: auto;
		border: lightslategray solid 2px;
		border-radius: 10px;
		background-color: #222;
		overflow-y: scroll;
		max-width: 750px;
		max-height: 635px;
	}

	.open {
		display: block !important; 
	}

	@media only screen and (min-width: 768px) {
		.popUp {
			left: 282px;
			width: max-content;
		}
	}

	@media only screen and (max-width: 767px) {
		.popUp {
			bottom:20px
		}
	}

	.divisor {
		border-radius: 3px;
		border: 2px solid slategray;
	}

	.macro-button:focus {
		background-color: #444;
		color: greenyellow;
	}

	.selected {
		color: greenyellow;
		background-color: #444 !important;
	}

	#Link {
		width: max-content;
		padding: 10px;
		max-width: 200px;
		background-color: #3b3b3b;
		border: 1px solid #3b3b3b;
		border-radius: 5px;
		display: inline-block;
		font-weight: bold;
		margin: 5px;
		
	}
	

	#wardrobeLinks{
		display: inline-block;
	}

	.hide {
		display: none !important;
	}

	.info {
		border: 1px solid lightslategray;
		border-radius: 5px;
		background-color: #1b1b1b;
		padding-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#fieldinline {
		display: inline-block;
		border: 1px solid lightslategray;
		background-color: #1b1b1b;
		border-radius: 5px;
	}

	h3 {
		margin: 0px;
	}

	#progressbar {
		background-color: #444;
		width: 75%;
		margin-left: 13%;
		border-radius: 20px;
	  }
	  
	#bar {
		background-color: lightgreen;
		height: 20px;
		border-radius: 20px;
	  }

	.list {
		display: inline-flex;
		border: 1px solid lightslategray;
		border-radius: 5px;
		background-color: #1b1b1b;
		max-width: 17em;
		margin-bottom: 5px;
	}

	#insidelist {
		margin-left: 7px;
		margin-right: 7px;
		font-size: medium;
	}

	.smollfont {
		font-size: small;
	}

	.thindiv {
		border-radius: 3px;
		border: 1px solid slategray;
		margin-bottom: 4px;
	}